@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

/* THEMES */
:root {
  /* --window */
  --window-radius: 2px;
  --window-bg-color: white;
  --window-border-color: #52525b;
  --window-border-style: solid;
  --window-border-thickness: 1px;

  /* --window-nav */
  /* --window-nav-button */

  /* --desktop-background */
  /* --desktop-icon */

  /* --navbar */
  /* --navbar-icon */

  /* --settings */
  /* --settings-icon */
}

.theme-window {
  border-radius: var(--window-radius);
  background-color: var(--window-bg-color);
  box-shadow: rgb(0, 0, 0, 0.1) 0px 4px 2px 2px;
  border: var(--window-border-thickness) var(--window-border-style) var(--window-border-color);
}
